.wrapper {
  display: flex;
  width: 1040px;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 72px;
}

.wrapper > div {
  width: 46.1538%;
}

.image {
  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
}

.student {
  position: absolute;
  top: 29px;
  left: 29px;
}

.title {
  font-size: 48px;
  color: #685dc5;
  font-weight: 500;
  padding: 75px 0 40px;
}

.description {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.33px;
}
@media only screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    max-width: 100%;
    align-items: center;
    padding: 0 21px;
    background-color: #685dc5;
  }
  .wrapper > div {
    width: 100%;
    background: #fff;
  }

  .image {
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: center;
  }
  .student {
    left: unset;
  }

  .title {
    font-size: 35px;
    padding: unset;
    padding-bottom: 32px;
  }

  .description {
    font-size: 18px;
  }

  .right {
    padding: 0 25px;
  }
}
